body {
    background-color: slategrey;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.title {
    color: white;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-shadow: 2px 2px 4px black;
    margin-top: 12%;
}

.details {
    width: fit-content;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 32px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    border-radius: 32px;
}

.data {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 18px;
    border-bottom: 2px solid #CC0000;
    padding: 0px 12px 6px 12px;
}

.data:nth-child(1) {
    margin-bottom: 24px;
}

.data img {
    width: 48px;
    height: 48px;
}

.data strong {
    margin-left: 12px;
    margin-right: 12px;
    text-transform: uppercase;
}

.data label {
    color: lightgray;
}