<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Pod Tester</title>
</head>
<body>
    <div class="title">
        <h1>POD-TESTER</h1>
    </div>
    <section class="details">
        <div class="data">
            <div class="data-icon">
                <img src="{{ url_for('static', filename='assets/pod-icon.png') }}" alt="pod-name">
            </div>
            <div class="data-info">
                <strong>pod name:</strong>
                <label id="pod-name">{{ hostname }}</label>
            </div>
        </div>
        <div class="data">
            <div class="data-icon">
                <img src="{{ url_for('static', filename='assets/configmap-icon.png') }}" alt="env-var">
            </div>
            <div class="data-info">
                <strong>env  var1:</strong>
                <label id="pod-cm">{{ var1 }}</label>
            </div>
        </div>
    </section>
    <script src="./backend.js"></script>
</body>
</html>